/*  settings color */

:root {
    --text-color:#626567;;
    --primery:#73C6B6;
    --hover:#148F77;
}

body {
    font-family: 'Montserrat', sans-serif;
	line-height: 1.8;
    color: var(--text-color);
	background-color: #FAFAFA;
}

.btn-primary {
    color: #fff;
    background-color: var(--primery);
    border-color: var(--primery)
}

.btn-outline-primary {
    color: var(--primery);
    border-color: var(--primery);
}

.btn-primary:hover,.btn-outline-primary:hover{
    background-color: var(--hover);
    border-color: var(--hover);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

.nav-link {
    color: var(--text-color);
}

.nav-link:hover {
    color: var(--primery);
}

.text-primary{
    color: var(--primery)!important;
}

.bg-primary {
    background-color: var(--primery)!important;
}

.navbar-brand {
    color: var(--text-color);
}

/* carousel setting */

.feedback-box {
    height: 380px;
}

.feedback-box img {
    width: 80px!important;
    height: 80px;
    border-radius: 50%;
    border: 2px solid var(--primery);
    padding: .3rem;
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
    margin: 0 68px;
    font-size: 3rem;
    color: var(--primery);
}

.owl-carousel .owl-nav button.owl-next:hover, .owl-carousel .owl-nav button.owl-prev:hover{
    background: 0;
    color: var(--hover);
}

.owl-dots {
    margin-top: -48px;
}

.owl-stage {
    transition: all 1s cubic-bezier(.25,.8,.25,1)!important;
}

@media (max-width: 1024px){
    .feedback-box {
        height: auto
    }
}

/* vertical divider */

@media (max-width: 767px) {
     .vr{
        display:none;
    }
}

/* services animation  */

.service-box {
    background: rgba(0,0,0,0.5);
    height: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.service-box:hover {
    background: rgba(0,0,0,0.85);
}

.service-box a, .service-box p {
    display: none;
}

.service-box h3 {
    margin-top: 6rem;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.service-box:hover h3 {
    margin-top: 0;
}

.service-box:hover a, .service-box:hover p {
    display: block;
}

/* contacts */

#contact-us {
    position: absolute;
    top:-120px;
    right: 66px;
}

#contact-us a {
    text-decoration: none;
    color: var(--text-color);
}

#contact-us i {
    font-size: 1.4rem;
}


@media (max-width: 910px) {
    #contact-us {
        position: relative;
        top: 0;
        left: 0;
    }
}

/* socials links animated */

.social a {
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.social a:hover{
    margin-top: -8px;
}

/* rouded */

.rounded {
    border-radius: 1rem!important;
}
